version: '3.8'
services:
  web:
    build: .
    ports: ["8000:8000"]
    env_file: [.env]
    depends_on: [db, redis]
  db:
    image: postgres:15-alpine
    volumes: [postgres_data:/var/lib/postgresql/data/]
    env_file: [.env]
  redis:
    image: redis:alpine
  locust:
    image: locustio/locust
    ports: ["8089:8089"]
    volumes: [.:/mnt/locust]
    command: -f /mnt/locust/locustfile.py --host http://web:8000
volumes:
  postgres_data:
